[Unit]
Description=Slurm node daemon
After=network.target
After=munge.service
ConditionPathExists=/etc/slurm/slurm.conf
Documentation=man:slurmd(8)

[Service]
Type=forking
User=slurm
Group=slurm
ExecStart=/usr/sbin/slurmd
PIDFile=/var/log/slurm/slurmd.pid
Restart=on-failure 

[Install]
WantedBy=multi-user.target
